section[data-component="csblocks/intro"] {

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;

	.the-content {
		width: 50%;
		h2 {
			@extend %section-title;
			b {
				color: $color--featured;
				font-weight: 400;
			}
		}
		.cta-buttons {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;

			margin-top: 70px;

			a:nth-of-type(1) {
				margin-right: 15px;
			}
		}
	}

	.the-image {
		width: 50%;
	}
}

