// thin 100 | light 300 | regular 400 | medium 500 | bold 700 | black 900
@font-face {
	font-family: 'Bw Modelica';
	src: url('/static/media/fonts/BwModelica-Regular.woff2') format('woff2'),
	url('/static/media/fonts/BwModelica-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Bw Modelica';
	src: url('/static/media/fonts/BwModelica-Medium.woff2') format('woff2'),
	url('/static/media/fonts/BwModelica-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Bw Modelica';
	src: url('/static/media/fonts/BwModelica-Bold.woff2') format('woff2'),
	url('/static/media/fonts/BwModelica-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

// 01
@font-face {
	font-family: 'Bw Modelica - Heading';
	src: url('/static/media/fonts/BwModelicaSS01-Regular.woff2') format('woff2'),
	url('/static/media/fonts/BwModelicaSS01-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Bw Modelica - Heading';
	src: url('/static/media/fonts/BwModelicaSS01-Medium.woff2') format('woff2'),
	url('/static/media/fonts/BwModelicaSS01-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
