/**
 * Global Layout
 *
 * @package @@pkg.name
 * @version @@pkg.version
 * @author  @@pkg.author
 */
@import '_vendor/reset.scss';
@import '_typography.scss';

html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	/**
	 * Website Fonts */
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	@include font();

	/**
	 * Global Components */
	@import './components/nav.scss';

	/**
	 * Main Content */
	main {
		&::selection { background: $color--featured; color: white; }
	}

}
